# Movie recommender using KNN

In [53]:
pwd

'C:\\Users\\Deepu\\Downloads'

In [54]:
cd C:\\Users\\Deepu\\Downloads

C:\Users\Deepu\Downloads

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
df = pd.read_csv('imdb_data.csv')

In [57]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [58]:
df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [59]:
df.belongs_to_collection[0]

"[{'id': 313576, 'name': 'Hot Tub Time Machine Collection', 'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg', 'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg'}]"

In [60]:
df.budget[0]

14000000

In [61]:
for i in eval(df.genres[100]):
    print(i['name'])

Action
Thriller
Science Fiction
Crime
Horror

In [62]:
def gen(x):
    gen_list = []
    x = str(x)
    if x != 'nan':
        for i in eval(x):
            gen_list.append(i['name'])
        
    else:
        pass
    return gen_list

In [63]:
gen(df.genres[120])

['Action', 'Comedy', 'Crime', 'Thriller']

In [64]:
eval(df.genres[50])

[{'id': 10749, 'name': 'Romance'},
 {'id': 18, 'name': 'Drama'},
 {'id': 35, 'name': 'Comedy'}]

In [65]:
type(df.genres[0])

str

In [66]:
df.genres.apply(lambda x: gen(x))

0                                 [Comedy]
1         [Comedy, Drama, Family, Romance]
2                                  [Drama]
3                        [Thriller, Drama]
4                       [Action, Thriller]
                       ...
2995                     [Comedy, Romance]
2996                        [Drama, Music]
2997    [Crime, Action, Mystery, Thriller]
2998                     [Comedy, Romance]
2999           [Thriller, Action, Mystery]
Name: genres, Length: 3000, dtype: object

In [67]:
df.mod_gen = df.genres.apply(lambda x: gen(x))

C:\Users\Deepu\AppData\Local\Temp\ipykernel_7732\2214533962.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.mod_gen = df.genres.apply(lambda x: gen(x))

In [68]:
# it's because you are using df. method instead of df['']

In [69]:
df['mod_gen'] = df['genres'].apply(lambda x: gen(x))

In [105]:
# we have extracted all the genres from the feature genres into a different columns
df.pop('mod_gen')

0                                 [Comedy]
1         [Comedy, Drama, Family, Romance]
2                                  [Drama]
3                        [Thriller, Drama]
4                       [Action, Thriller]
                       ...
2995                     [Comedy, Romance]
2996                        [Drama, Music]
2997    [Crime, Action, Mystery, Thriller]
2998                     [Comedy, Romance]
2999           [Thriller, Action, Mystery]
Name: mod_gen, Length: 3000, dtype: object

In [71]:
df.popularity

0        6.575393
1        8.248895
2       64.299990
3        3.174936
4        1.148070
          ...
2995     9.853270
2996     3.727996
2997    14.482345
2998    15.725542
2999    10.512109
Name: popularity, Length: 3000, dtype: float64

In [72]:
df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue',
       'mod_gen'],
      dtype='object')

# So we will be working with  only couple of select columns relevent to recommendation

move_id, movie_name, imdb_rating, and genres

In [73]:
## let's first find how many types of genres do we have 
df.mod_gen.explode(',').nunique()

20

In [74]:
# let's see the genres also 
df.mod_gen.explode(',').value_counts()

Drama              1531
Comedy             1028
Thriller            789
Action              741
Romance             571
Crime               469
Adventure           439
Horror              301
Science Fiction     290
Family              260
Fantasy             232
Mystery             225
Animation           141
History             132
War                 100
Music               100
Documentary          87
Western              43
Foreign              31
TV Movie              1
Name: genres, dtype: int64

In [75]:
df.shape

(3000, 24)

In [76]:
a=df.sample(n= 5)

In [77]:
a['original_title']

2612               Unknown
1856          TRON: Legacy
1657      About Last Night
222     Meet Monica Velour
695              Tere Naam
Name: original_title, dtype: object

In [78]:
a['mod_gen']

2612             [Action, Mystery, Thriller]
1856    [Adventure, Action, Science Fiction]
1657                       [Comedy, Romance]
222                 [Comedy, Drama, Romance]
695                      [Romance, Thriller]
Name: mod_gen, dtype: object

In [79]:
col=['movie_name']+list(a['mod_gen'].explode(',').unique())

In [80]:
adf = pd.DataFrame(columns = col)

In [81]:
adf

Empty DataFrame
Columns: [movie_name, Action, Mystery, Thriller, Adventure, Science Fiction, Comedy, Romance, Drama]
Index: []

In [82]:
adf['movie_name'] = a['original_title'].to_list()

In [83]:
adf

,movie_name,Action,Mystery,Thriller,Adventure,Science Fiction,Comedy,Romance,Drama
0,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRON: Legacy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,About Last Night,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Meet Monica Velour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tere Naam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
adf['genres'] = a['mod_gen'].to_list()

In [106]:
adf.drop(columns = ['Action', 'Mystery', 'Thriller','Adventure','Science Fiction','Comedy','Romance','Drama'], inplace = True)

In [107]:
adf

           movie_name                                genres
0             Unknown           [Action, Mystery, Thriller]
1        TRON: Legacy  [Adventure, Action, Science Fiction]
2    About Last Night                     [Comedy, Romance]
3  Meet Monica Velour              [Comedy, Drama, Romance]
4           Tere Naam                   [Romance, Thriller]

In [114]:
genre_list = adf.genres.explode(',').unique().tolist()

In [115]:
for i in genre_list:
    adf[i] = adf['genres'].apply(lambda x: i in x).astype(int) # the astype is used to conver the true value into 1 
# we are doing operation column wise

In [117]:
adf

,movie_name,genres,Action,Mystery,Thriller,Adventure,Science Fiction,Comedy,Romance,Drama
0,Unknown,"[Action, Mystery, Thriller]",1,1,1,0,0,0,0,0
1,TRON: Legacy,"[Adventure, Action, Science Fiction]",1,0,0,1,1,0,0,0
2,About Last Night,"[Comedy, Romance]",0,0,0,0,0,1,1,0
3,Meet Monica Velour,"[Comedy, Drama, Romance]",0,0,0,0,0,1,1,1
4,Tere Naam,"[Romance, Thriller]",0,0,1,0,0,0,1,0

In [86]:
def one(adf):
    if 'Comedy' in adf.genres:
        classe = 1
    else:
        classe = 0
    return classe

In [87]:
adf['Comedy']=adf.apply(one,axis = 1)

In [88]:
def onead(adf):

IndentationError: expected an indented block (1005177426.py, line 2)

In [ ]:
adf

In [ ]:
adf['genres']

In [ ]:
def one(adf):
    for i in ['Action', 'Adventure','Comedy','Drama','Romance']:
        for j in adf.genres:
            if i in adf.genres:
                val = 1
            else:
                val = 0
            return val

In [89]:
imdb_df=df[['id','popularity','title','mod_gen']].sample(n= 1100, replace = False)

In [90]:
#we have the required dataset
imdb_df.head()

,id,popularity,title,mod_gen
2376,2377,1.970054,Jaane Tu... Ya Jaane Na,"[Drama, Comedy, Romance]"
2808,2809,12.724645,Ferris Bueller's Day Off,[Comedy]
2164,2165,12.975936,Joy,"[Drama, Comedy]"
1937,1938,5.402262,Don't Tell Mom the Babysitter's Dead,"[Comedy, Family]"
301,302,1.533379,I'm No Angel,"[Comedy, Romance]"

In [99]:
imdb_df.rename(columns = {'mod_gen':'genres_list'}, inplace = True)

In [100]:
imdb_df

,id,popularity,title,genres_list
2376,2377,1.970054,Jaane Tu... Ya Jaane Na,"[Drama, Comedy, Romance]"
2808,2809,12.724645,Ferris Bueller's Day Off,[Comedy]
2164,2165,12.975936,Joy,"[Drama, Comedy]"
1937,1938,5.402262,Don't Tell Mom the Babysitter's Dead,"[Comedy, Family]"
301,302,1.533379,I'm No Angel,"[Comedy, Romance]"
...,...,...,...,...
1425,1426,13.284712,Superman Returns,"[Adventure, Fantasy, Action, Science Fiction]"
88,89,13.655178,The Zookeeper's Wife,"[Drama, History]"
468,469,12.260159,Adore,[Drama]
1628,1629,6.694959,The French Connection,"[Action, Crime, Thriller]"
2465,2466,8.132811,Take Me Home Tonight,"[Comedy, Drama, Romance]"

In [101]:

from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer(sparse_output=True)

imdb_df = imdb_df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(imdb_df.pop('genres_list')),
                index=imdb_df.index,
                columns=mlb.classes_))

In [102]:
imdb_df

,id,popularity,title,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,...,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
2376,2377,1.970054,Jaane Tu... Ya Jaane Na,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2808,2809,12.724645,Ferris Bueller's Day Off,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2164,2165,12.975936,Joy,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1937,1938,5.402262,Don't Tell Mom the Babysitter's Dead,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301,302,1.533379,I'm No Angel,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,1426,13.284712,Superman Returns,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
88,89,13.655178,The Zookeeper's Wife,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
468,469,12.260159,Adore,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1628,1629,6.694959,The French Connection,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2465,2466,8.132811,Take Me Home Tonight,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0