In [1]:
pwd

'C:\\Users\\Deepu\\Documents\\machine_learning'

In [3]:
cd C:\\Users\\Deepu\\Desktop

C:\Users\Deepu\Desktop

In [4]:
cd C:\Users\Deepu\Desktop\New folder

C:\Users\Deepu\Desktop\New folder

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 08CB-6401

 Directory of C:\Users\Deepu\Desktop\New folder

10-12-2023  12:29    <DIR>          .
10-12-2023  12:29    <DIR>          ..
10-12-2023  16:35    <DIR>          MapUp-Data-Assessment-E-main
10-12-2023  12:23         1,027,101 MapUp-Data-Assessment-E-main.zip
10-12-2023  16:22    <DIR>          MapUp-Data-Assessment-F-main
10-12-2023  12:23           512,056 MapUp-Data-Assessment-F-main.zip
               2 File(s)      1,539,157 bytes
               4 Dir(s)  68,582,055,936 bytes free

In [9]:
cd C:\Users\Deepu\Desktop\New folder\MapUp-Data-Assessment-E-main\evaluation_data\input

C:\Users\Deepu\Desktop\New folder\MapUp-Data-Assessment-E-main\evaluation_data\input

In [10]:
pwd

'C:\\Users\\Deepu\\Desktop\\New folder\\MapUp-Data-Assessment-E-main\\evaluation_data\\input'

In [11]:
import pandas as pd

In [14]:
df=pd.read_parquet('raw_data.parquet')

In [16]:
df.shape

(73472, 4)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73472 entries, 0 to 73471
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   73472 non-null  float64
 1   longitude  73472 non-null  float64
 2   timestamp  73472 non-null  object
 3   unit       73472 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ MB

In [22]:
df.head(10)

   latitude  longitude             timestamp  unit
0  40.23426  -77.13796  2023-12-05T23:13:40Z  1000
1  40.23422  -77.13796  2023-12-05T23:13:40Z  1000
2  40.23419  -77.13795  2023-12-05T23:13:40Z  1000
3  40.23412  -77.13792  2023-12-05T23:13:40Z  1000
4  40.23412  -77.13792  2023-12-05T23:13:40Z  1000
5  40.23408  -77.13810  2023-12-05T23:13:41Z  1000
6  40.23401  -77.13836  2023-12-05T23:13:43Z  1000
7  40.23393  -77.13869  2023-12-05T23:13:45Z  1000
8  40.23391  -77.13879  2023-12-05T23:13:45Z  1000
9  40.23391  -77.13879  2023-12-05T23:13:45Z  1000

In [30]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['time_diff'] = (df['timestamp'] - df['timestamp'].shift()).fillna(pd.Timedelta(seconds=0))
df['trip_id'] = (df['time_diff'] > pd.Timedelta(hours=7)).cumsum()

In [41]:
df

,latitude,longitude,timestamp,unit,time_diff,trip_id
0,40.23426,-77.13796,2023-12-05 23:13:40+00:00,1000,0 days 00:00:00,0
1,40.23422,-77.13796,2023-12-05 23:13:40+00:00,1000,0 days 00:00:00,0
2,40.23419,-77.13795,2023-12-05 23:13:40+00:00,1000,0 days 00:00:00,0
3,40.23412,-77.13792,2023-12-05 23:13:40+00:00,1000,0 days 00:00:00,0
4,40.23412,-77.13792,2023-12-05 23:13:40+00:00,1000,0 days 00:00:00,0
...,...,...,...,...,...,...
73467,42.98914,-74.40199,2023-12-11 02:50:02+00:00,2000,0 days 00:00:01,6
73468,42.98919,-74.40328,2023-12-11 02:50:09+00:00,2000,0 days 00:00:07,6
73469,42.98919,-74.40328,2023-12-11 02:50:09+00:00,2000,0 days 00:00:00,6
73470,42.98919,-74.40328,2023-12-11 02:50:09+00:00,2000,0 days 00:00:00,6
73471,42.98919,-74.40332,2023-12-11 02:50:09+00:00,2000,0 days 00:00:00,6

In [42]:
pwd

'C:\\Users\\Deepu\\Desktop\\New folder\\MapUp-Data-Assessment-E-main\\evaluation_data\\input'

In [43]:
output_dir = 'C:\\Users\\Deepu\\Desktop\\New folder\\MapUp-Data-Assessment-E-main\\evaluation_data\\input'

for trip_id, group in df.groupby('trip_id'):
    trip_filename = f"{group['unit'].iloc[0]}_{trip_id}.csv"
    trip_filepath = f"{output_dir}/{trip_filename}"
    group[['latitude', 'longitude', 'timestamp']].to_csv(trip_filepath, index=False)

In [68]:
import requests
import os

# Set your API key and URL directly (replace 'YOUR_API_KEY' and 'YOUR_API_URL' with your actual key and URL)
api_key = 'GLLQPbn4bNBGHHt6tJh9Bt8TmQmffjT'
api_url = 'https://apis.tollguru.com/toll/v2/gps-tracks-csv-upload?mapProvider=osrm'

url = f'{api_url}/gps-tracks-csv-upload?mapProvider=osrm&vehicleType=5AxlesTruck'
headers = {'x-api-key': api_key, 'Content-Type': 'text/csv'}

# Assuming you have the CSV file path stored in the variable 'csv_file_path'
csv_file_path =  r'C:\Users\Deepu\Downloads\filez'
with open(csv_file_path, 'rb') as file:
    response = requests.post(url, data=file, headers=headers)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Deepu\\Downloads\\filez'

In [56]:
response = requests.post(url,headers=headers)

In [60]:
response

In [61]:
pwd

'C:\\Users\\Deepu\\Desktop\\New folder\\MapUp-Data-Assessment-E-main\\evaluation_data\\input'

In [63]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 08CB-6401

 Directory of C:\Users\Deepu\Desktop\New folder\MapUp-Data-Assessment-E-main\evaluation_data\input

10-12-2023  18:09    <DIR>          .
10-12-2023  18:09    <DIR>          ..
10-12-2023  18:09           670,276 1000_0.csv
10-12-2023  18:09           562,190 1000_1.csv
10-12-2023  18:09           725,608 1000_2.csv
10-12-2023  18:09           170,406 1000_3.csv
10-12-2023  18:09           563,147 2000_4.csv
10-12-2023  18:09           158,462 2000_5.csv
10-12-2023  18:09           513,192 2000_6.csv
08-12-2023  14:11         1,220,303 raw_data.parquet
               8 File(s)      4,583,584 bytes
               2 Dir(s)  67,632,099,328 bytes free

In [69]:
pwd

'C:\\Users\\Deepu\\Desktop\\New folder\\MapUp-Data-Assessment-E-main\\evaluation_data\\input'

In [70]:
cd C:\\Users\\Deepu\\Desktop\\New folder

C:\Users\Deepu\Desktop\New folder

In [ ]:
;d